<!-- <div class="row m-b-100s">
    <div class="col-lg-4">
        <div class="icon-box text-center effect border color">
            <div class="icon">
                <a href="#"><i class="fa fa-rocket"></i></a>
            </div>
            <h5>Modern Design</h5>
            <p class="lead">Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="icon-box text-center effect border color">
            <div class="icon">
                <a href="#"><i class="fa fa-flask"></i></a>
            </div>
            <h5>Clean Modern Code</h5>
            <p class="lead">Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="icon-box text-center effect border color">
            <div class="icon">
                <a href="#"><i class="fa fa-umbrella"></i></a>
            </div>
            <h5>Lifetime Updates &amp; Support</h5>
            <p class="lead">Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
    </div>
</div>
</div> -->

<!-- PROCESS BOXES 
<section class="box-fancy section-fullwidth text-light">
    <div class="row">
        <div style="background-color: #3D4045" class="col-lg-4">
            <h1 class="text-lg text-uppercase">01.</h1>
            <h3>CONCEPT</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
        </div>

        <div style="background-color: #505358" class="col-lg-4">
            <h1 class="text-lg text-uppercase">02.</h1>
            <h3>DEVELOPMENT</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
        </div>

        <div style="background-color: #3D4045" class="col-lg-4">
            <h1 class="text-lg text-uppercase">03.</h1>
            <h3>TESTING</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
        </div>
    </div>
</section>
end: PROCESS BOXES -->

<section id="section-about" class="p-b-40">
    <div class="container">
        <h3 class="#aidertech">Apa itu AIDERTECH ?</h3>
            <div class="row">
                <div class="col-lg-6" data-animate="fadeInUp" data-animate-delay="300">
                    <p> Aidertech, adalah aplikasi berbasis website yang di rancang untuk membantu para UMKM di Indonesia, mendorong para UMKM untuk dapat beradaptasi dengan perkembangan teknologi terutama di era pandemi saat ini.
                        <br>
                        <br>keunggulan yang dimiliki oleh aidertech ialah Kita akan mengajak mahasiswa turun peduli terhadap sekitar terutama para umkm, menjadikan bank data UMKM dan melihat menu melalui scan barcode juga mengetahui para UMKM sekitar melalui web AIDERTECH.
                    </p>
                </div>
                <div class="col-lg-6" data-animate="fadeInUp" data-animate-delay="600">
                    <p> Inovasi kita ini lebih mengacu dan lebih tepat sasaran. Tak hanya para UMKM saja namun jasa industri kreatif turut kami libatkan, juga terdapat layanan iklan agar para UMKM bisa terpublikasi dan diketahui secara luas.
                        <br>
                        <br>Website kami sangatlah mudah terjangkau dan friendly user, gratis, juga terdapat beberapa fitur seperti scan barcode, layanan iklan dan juga layanan sewa jasa industri kreatif.
                    </p>
                </div>
            </div>
    </div>
</section>