<!--KANAL-->
<section id="section2" class="p-t-120 p-b-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 center">
                <div class="heading-text heading-section text-center" data-animate="fadeInUp">
                    <h2>Cara Mendaftar</h2>
                    <p class="lead">Klik tombol putar tersebut, disana kami telah siapkan untuk anda tutorial vidio cara mendaftarnya.</p>
                    <a href="https://www.youtube.com/watch?v=nrJtHemSPW4" data-lightbox="iframe" class="play-button dark"><i class="icon-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END: KANAL-->
