<!--footer-->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">AIDERTECH</div>
                        <p class="mb-5">Platform yang di rancang untuk UMKM<br> All rights reserved. Copyright © 2019. INSPIRO.</p>
                        <a href="#" class="btn btn-inverted" target="_blank">Daftar akun?</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Tentang Team</div>
                                <ul class="list">
                                    <li><a href="#">Features</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Aidertech</div>
                                <ul class="list">
                                    <li><a href="#">Layouts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Sosial Media</div>
                                <ul class="list">
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
        </div>
    </div>
</footer>
<!--END: footer-->