<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">AIDERTECH</div>
                        <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                        <a href="register" class="btn btn-gray" target="_blank">Daftar akun</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Tentang</div>
                                <ul class="list">
                                    <li><a href="about">Aidertech</a></li>
                                    <li><a href="about">Fitur</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Akun</div>
                                <ul class="list">
                                    <li><a href="login">Masuk</a></li>
                                    <li><a href="register">Daftar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Sosial Media</div>
                                <ul class="list">
                                    <li><a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=aidertech2021@gmail.com">Email</a></li>
                                    <li><a href="https://www.instagram.com/aidertech/">Instagram</a></li>
                                    <li><a href="https://www.youtube.com/channel/UCA-aw0ichA5oNT2hyry1blw">YouTube</a></li>
                                </ul>
                            </div>
                        </div>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; Aidertech - 2021<a href="" target="_blank" rel="noopener"> </a> </div>
        </div>
    </div>
</footer>