<!-- Header -->
<header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="#slider" class="page-scroll">
                    <span class="logo-default">AIDERTECH.</span>
                    <span class="logo-dark">AIDERTECH.</span>                   
                </a>
            </div> 
            <!--End: Logo-->
            <!-- Search -->

            
            <!--end: Header Extras-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="#section-about" class="page-scroll">Aidertech</a></li>
                            <li><a href="#umkm" class="page-scroll">UMKM</a></li>
                            <li><a href="#section2" class="page-scroll">Cara mendaftar</a></li>
                            <li class="dropdown-submenu"><a href="#">Akun</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="login">Masuk</a></li>
                                            <li><a href="register">Daftar</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </header>
<!-- end: Header -->