
<!--picture
<section id="section-portfolio">
    <div class="container">
        <div data-animate="fadeIn">
            
            <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="10">


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/1.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/1.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/2.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/2.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/3.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/3.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/4.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/4.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/5.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/5.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/6.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/6.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
               


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/7.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/7.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
               


                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/8.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/8.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
               

               
                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/9.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/9.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
               

               
                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/10.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/10.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
               

               
                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/11.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/11.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                

               
                <div class="portfolio-item img-zoom">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="homepages/minimal/images/portfolio/12.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Paper Pouch!" data-lightbox="image" href="homepages/minimal/images/portfolio/12.jpg"><i class="fa fa-expand"></i></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            
            </div>
            
        </div>
    </div>
</section>
END: picture-->