
<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
    <!-- Slide 1 -->
    <div class="slide" data-bg-video="../video/pexels-waves.mp4">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-left text-light">
<!-- Captions -->
    <h1>Selamat datang di platform AIDERTECH</h1>
        <p class="text-small">Mari kita dorong UMKM bersama platform kami.</p>
        <div><a href="login" class="btn scroll-to">Masuk Akun</a></div>
        </div>
    </div>
</div>
    <!-- end: Slide 1 -->
    <!-- Slide 2 -->
    <div class="slide" data-bg-image="plugins/slider-revolution/assets/images/notgenericherobg.jpg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <!-- Captions -->
                <h1>Kenapa AIDERTECH</h1>
                <p> Platform ini dirancang untuk para UMKM, sehingga mudah untuk di akses dan juga Membantu para UMKM agar meningkatnya pertumbuhan ekonomi di saat pandemi.</p>
                <div><a href="register" class="btn scroll-to">Daftar akun</a></div>
                </span>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 2 -->
</div>
<!--end: Inspiro Slider -->