<section class="background-info p-t-120 p-b-40" id="umkm">
    <div id="particles-dots" class="particles"></div>
    <div class="container xs-text-center sm-text-center text-light">
        <div class="row">
            <div class="col-lg-9 p-b-40">
                <h2>Terperacaya.</h2>
                <p class="lead">Sudah banyak para UMKM yang sudah terhubung ke platform aidertech, tentunya karna opensource gratis, modern, friendly dan efisiensi.</p>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="12" data-to="114" data-from="50" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>UMKM</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end: Our numbers -->