<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="/images/logoA1.png">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>AIDERTECH | Create Produk</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="index">
                            <span class="logo-default">AIDERTECH.</span>
                            <span class="logo-dark">AIDERTECH.</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Ketikan sesuatus" />
                            <span class="text-muted">Mulai ketik dan temukan apa yang anda cari</span>
                        </form>
                    </div>
                    
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                   
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                  
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="home" class="#">Beranda</a></li>                            
                                    <li class="dropdown-submenu"><a href="#">Profil</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="profile">Profil saya</a></li>
                                            <li><a href="produksaya">Produk saya</a></li>
                                            <li><a href="notifikasi">Notifikasi</a></li>
                                        </ul>
                                    <li class="dropdown-submenu"><a href="#">Pengaturan</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="editprofile">Edit Profile</a></li>
                                            <li><a href="akun">Akun</a></li>
                                            <li><a href="step">Langkah</a></li>
                                            <li><a href="keamanan">Keamanan</a></li>
                                            <li><a href="about">Tentang</a></li>
                                        </ul>
                                    <li><a href="index"><i class="icon-log-out"></i>Keluar</a></li>
                
                                            </li>
                                        </div>
                                    </div>
                    
      
              </div>
            </div>
          </header>

        <section id="page-content">
            <div class="container">
                <div class="row">
                    <!-- content -->
                        <!--end: File upload 1-->
                            <div class="card-body">
                                <!--Wizard 7-->
                                <form class="needs-validation" novalidate>
                                    <h3>Tambahkan produk</h3>
                                    <div class="h5 mb-4">Isi dengan benar</div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="name">Nama produk</label>
                                            <input type="text" class="form-control" name="name" placeholder="Enter your Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="surname">Harga</label>
                                            <input type="text" class="form-control" name="surname" placeholder="Enter your Surname">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="gender">Kategori produk</label>
                                            <select class="form-control" name="gender">
                                                <option>Kuliner</option>
                                                <option>Barang</option>
                                                <option>Agri bisnis</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="gender">Masukan variasi</label>
                                            <input class="form-control" type="date" name="dateofbirth">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!--File upload 3-->
                                        <div class="form-group">
                                            <label for="telephone">Tambahkan Foto</label>
                                            <a class="dropzone-attach-files btn btn-sm mb-0">Tambahkan</a>
                                            <div class="d-none" id="fileUpload3" action="/file-upload" class="dropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple />
                                                </div>
                                            </div>
                                            <!-- Preview -->
                                            <div class="mt-3" id="formFiles3"></div>
                                            <!-- File preview template -->
                                            <div class="d-none" id="formTemplate3">
                                                <div class="card mb-3">
                                                    <div class="p-2">
                                                        <div class="row align-items-start">
                                                            <div class="col-auto">
                                                                <img data-dz-thumbnail src="#" class="avatar border rounded">
                                                            </div>
                                                            <div class="col pl-0">
                                                                <a href="#" class="text-muted font-weight-bold" data-dz-name></a>
                                                                <p class="mb-0"><small data-dz-size></small> <small class="d-block text-danger" data-dz-errormessage></small></p>
                                                            </div>
                                                            <div class="col-auto pt-2">
                                                                <a class="btn-lg text-danger" href="#" data-dz-remove><i class="icon-trash-2"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end: File preview template -->
                                            <small id="dropzoneHelp" class="form-text text-muted">Max file size is 2MB and max number of files is 5.</small>
                                        </div>
                                        <!--end: File upload 3-->
                                    </div>
                                </form>
                                <div class="line"></div>
                                <!--end: Wizard 7-->
                            </div>
                        </div>
                    </div>
                    <!-- end: content -->
                    <!-- Sidebar-->
                    <!-- end: sidebar-->
                    <div class="col-lg-12">
                        <div class="container">
                            <a class="btn btn-outline" href="#"><i class="fa fa-check-circle"></i>simpan</a>
                        </div>
                      </div> 
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->

        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">AIDERTECH</div>
                                <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                                <a href="index" class="btn btn-gray" target="_blank">Keluar akun</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Tentang</div>
                                        <ul class="list">
                                            <li><a href="about">Aidertech</a></li>
                                            <li><a href="pageiklan">Jasa Iklan</a></li>
                                            <li><a href="pagejasa">Industri kreatif</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pengaturan</div>
                                        <ul class="list">
                                            <li><a href="editprofile">Edit Profile</a></li>
                                            <li><a href="step">Langkah</a></li>
                                            <li><a href="akun">Akun</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Sosial Media</div>
                                        <ul class="list">
                                            <li><a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=aidertech2021@gmail.com">Email</a></li>
                                            <li><a href="https://www.instagram.com/aidertech/">Instagram</a></li>
                                            <li><a href="https://www.youtube.com/channel/UCA-aw0ichA5oNT2hyry1blw">YouTube</a></li>
                                            <!-- <li><a href="#">Facebook</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; Aidertech - 2021<a href="" target="_blank" rel="noopener"> </a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div> <!-- end: Body Inner -->
    
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <!-- Dropzone plugin files-->
    <link href="plugins/dropzone/dropzone.css" rel="stylesheet">
    <script src="plugins/dropzone/dropzone.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        //Form 1
        var form2 = $('#fileUpload1');
        form2.dropzone({
            url: "http://polo/files/post",
            addRemoveLinks: true,
            maxFiles: 1,
            maxFilesize: 10,
            acceptedFiles: "image/*",
        });
        //Form 2
        var form2 = $('#fileUpload2');
        form2.dropzone({
            url: "http://polo/files/post",
            maxFilesize: 5,
            acceptedFiles: "image/*",
            previewsContainer: "#formFiles2",
            previewTemplate: $("#formTemplate2").html(),
        });
        //Form 3
        var form3 = $('#fileUpload3');
        form3.dropzone({
            url: "http://polo/files/post",
            maxFilesize: 5,
            acceptedFiles: "image/*",
            previewsContainer: "#formFiles3",
            previewTemplate: $("#formTemplate3").html(),
            clickable: ".dropzone-attach-files"
        });
    </script>
</body>

</html>