<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="/images/logoA1.png">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>AIDERTECH | Beranda</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .portfolio-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 300px;
			height: 200px;
			padding: 10px;
			margin: 20px;
        }
    </style>
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Topbar -->
        
        <!-- end: Topbar -->
        <!-- Header -->
        <header id="header" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="index">
                            <span class="logo-default">AIDERTECH.</span>
                            <span class="logo-dark">AIDERTECH.</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Ketikan sesuatus" />
                            <span class="text-muted">Mulai ketik dan temukan apa yang anda cari</span>
                        </form>
                    </div>
                    
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                   
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                  
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="home" class="#">Beranda</a></li>                            
                                    <li class="dropdown-submenu"><a href="#">Profil</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="profile">Profil saya</a></li>
                                            <li><a href="produksaya">Produk saya</a></li>
                                            <li><a href="notifikasi">Notifikasi</a></li>
                                        </ul>
                                    <li class="dropdown-submenu"><a href="#">Pengaturan</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="editprofile">Edit Profile</a></li>
                                            <li><a href="akun">Akun</a></li>
                                            <li><a href="step">Langkah</a></li>
                                            <li><a href="keamanan">Keamanan</a></li>
                                            <li><a href="about">Tentang</a></li>
                                        </ul>
                                    <li><a href="index"><i class="icon-log-out"></i>Keluar</a></li>
                
                                            </li>
                                        </div>
                                    </div>
                    
      
              </div>
            </div>
          </header>
                
        <!-- end: Header -->
        <!-- Page title -->
        <div class="heading-text text-center">
            <h5 class="text-uppercase">
            </h5>
            <h2><span>Selamat Datang</span></h2>
            <p>Jika anda merasa masih bingung dengan website ini, silahkan baca untuk beberapa langh-langkahnya</p>
            <a href="step" class="btn btn-outline btn-rounded">Baca</a>
        </div> 
        <!-- end: Page title -->
        <div class="call-to-action call-to-action-dark">
            <div class="container">
              <div class="row">
                <div class="col-lg-10">
                  <h3>
                    Kami menyediakan jasa iklan <span>Mulai dari Rp. 50.000,-</span> Ke berbagai platform media sosial.
                  </h3>
                  <p>
                    Ayok bangkitkan UMKM anda bersama kami.
                  </p>
                </div>
                <div class="col-lg-2"><a class="btn btn-light btn-outline" href="pageiklan">Pasang iklan</a></div>
              </div>
            </div>
          </div>

        <!-- Shop products -->
        <section id="page-content">
            <div class="container-fluid">
                <div class="row m-b-20">
                
                </div>
                <!--Product list-->
                <section id="page-content">
                    <div class="container">
                        <!-- Portfolio Filter -->
                        <nav class="grid-filter gf-outline" data-layout="#portfolio">
                            <ul>
                                <li class="active"><a href="#" data-category="*">Tampilkan semua</a></li>
                                <li><a href="#" data-category=".ct-branding">Kuliner</a></li>
                                <li><a href="#" data-category=".ct-photography">Barang</a></li>
                                <li><a href="#" data-category=".ct-media">fashion</a></li>
                                <li><a href="#" data-category=".ct-marketing">Agri bisinis</a></li>
                            </ul>
                            <div class="grid-active-title">Show All</div>
                        </nav>
                        <!-- end: Portfolio Filter -->
                        <!-- Portfolio -->
                        <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="20">
                            <!-- portfolio item -->
                           
                             <!-- <div class="portfolio-item no-overlay img-zoom ct-photography">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/elektronik.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Toko Uni</h3>
                                            <span>Barang elektronik</span>
                                            <p>Berbagai barang elektronik</p>
                                        </a>
                                    </div>
                                </div>
                            </div>  -->
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                            <div class="portfolio-item no-overlay img-zoom ct-branding">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/Kuliner2.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>ALis food</h3>
                                            <span>Babakan</span>
                                            <p>Kuliner</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                           
                            <div class="portfolio-item no-overlay img-zoom ct-branding">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/soto.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Berkah soto</h3>
                                            <span>Majalaya</span>
                                            <p>Makanan soto khas jawa</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                            <div class="portfolio-item no-overlay img-zoom ct-photography">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/barang2.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Sumber wangi</h3>
                                            <span>Bojong</span>
                                            <p>Berbagai parfum</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                           
                            <div class="portfolio-item no-overlay img-zoom img-zoom ct-marketing">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/egg.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Sumber protein</h3>
                                            <span>emper</span>
                                            <p>Berbagai sumber protein telur, daging dll</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                           
                            <div class="portfolio-item no-overlay img-zoom img-zoom ct-branding">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/drink2.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Kedai amung</h3>
                                            <span>Babakan</span>
                                            <p>Kedai makanan, minuman dan kopi</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                            
                             <div class="portfolio-item no-overlay img-zoom img-zoom ct-media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="images/fashion5.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Liza fashion</h3>
                                            <span>babakan</span>
                                            <p>Outfit hijab harian mu.</p>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="portfolio-item no-overlay img-zoom img-zoom ct-branding">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/drink1.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Drinksweet</h3>
                                            <span>JL. Anyar</span>
                                            <p>Kuliner dan minuman.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            <!-- portfolio item -->
                
                            <div class="portfolio-item no-overlay img-zoom img-zoom ct-photography">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/barang3.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Jack parfume</h3>
                                            <span>Persimpangan</span>
                                            <p>Berbagai Parfume</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->

                            <div class="portfolio-item no-overlay img-zoom ct-media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="profile"><img src="/images/fashion4.jpg" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="profile">
                                            <h3>Lira fashion</h3>
                                            <span>Pakaian</span>
                                            <p>Berbagai gaya pakaian</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                        </div>
                        <!-- end: Portfolio -->
                    </div>
                </section>
                    <!-- Pagination -->
                    <!-- <div class="call-to-action call-to-action-light">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-10">
                              <h3>
                                Dapatkan <span>Mulai dari harga Rp. 100.000.-</span> anda dapat memanggil jasa industri kreatif.
                              </h3>
                              <p>
                                Mari dorong UMKM mu menuju 4.0 industri 
                              </p>
                            </div>
                            <div class="col-lg-2"><a class="btn btn-primaryprimary btn-" href="pagejasa">Sewa jasa</a></div>
                          </div>
                        </div>
                      </div> -->

                      <div class="row call-to-action cta-center">
                        <div class="col-lg-10">
                          <h3>
                            Dapatkan<span>Mulai dari harga Rp. 100.000.-</span> anda dapat memanggil jasa industri kreatif.
                          </h3>
                          <p>
                            Mari dorong UMKM mu menuju 4.0 industri.
                          </p>
                        </div>
                        <div class="col-lg-2">
                          <a class="btn" href="pagejasa">Klik Tombol</a>
                        </div>
                      </div>
                    
        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">AIDERTECH</div>
                                <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                                <a href="index" class="btn btn-gray" target="_blank">Keluar akun</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Tentang</div>
                                        <ul class="list">
                                            <li><a href="about">Aidertech</a></li>
                                            <li><a href="pageiklan">Jasa Iklan</a></li>
                                            <li><a href="pagejasa">Industri kreatif</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pengaturan</div>
                                        <ul class="list">
                                            <li><a href="editprofile">Edit Profile</a></li>
                                            <li><a href="step">Langkah</a></li>
                                            <li><a href="akun">Akun</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Sosial Media</div>
                                        <ul class="list">
                                            <li><a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=aidertech2021@gmail.com">Email</a></li>
                                            <li><a href="https://www.instagram.com/aidertech/">Instagram</a></li>
                                            <li><a href="https://www.youtube.com/channel/UCA-aw0ichA5oNT2hyry1blw">YouTube</a></li>
                                            <!-- <li><a href="#">Facebook</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; Aidertech - 2021<a href="" target="_blank" rel="noopener"> </a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div> <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>