<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Masuk akun</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .masukakun {
            color: white;
        }

        #glass {
            background-color:
                        background: rgba(255, 255, 255, 0.36);
                        border-radius: 29px;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(7.1px);
                        -webkit-backdrop-filter: blur(7.7px);
                        border: 0.5px solid rgba(255, 255, 255, 0.37);
        }
    </style>
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="plugins/slider-revolution/assets/images/notgenericherobg.jpg">
            <div class="container">
                <div>
                    <div class="text-center m-b-30">
                        <a href="index.html" class="logo">
                            <img src="" alt="Aidertech Logo">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 center p-50 b-r-6" id="glass">
                            <h3 class="masukakun">Masuk akun anda</h3>
                            <form>
                                <div class="form-group">
                                    <label class="sr-only">Nama</label>
                                    <input type="text" class="form-control" placeholder="Masukan nama anda">
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">Password</label>
                                    <input type="password" class="form-control" placeholder="Masukan password anda">
                                </div>
                                <div class="form-group form-inline text-left">
                                    <div class="form-check">
                                    </div>
                                </div>
                                <div class="text-left form-group">
                                    <button type="button" class="btn">Masuk</button>
                                </div>
                            </form>
                            <p class="small" style="color:white;"> Belum punya akun? <a href="register">Klik teks ini.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>