<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="/images/logoA1.png">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>AIDERTECH | Masuk akun</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>  
        .masukakun {
            color: white;
        }

        #glass {
            background: rgba(255, 255, 255, 0.27);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.5px);
            -webkit-backdrop-filter: blur(8.5px);
        }
    </style>
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">

        <!-- Header -->
        <!-- Header -->
<header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="#slider" class="page-scroll">
                    <span class="logo-default">AIDERTECH.</span>
                    <span class="logo-dark">AIDERTECH.</span>                   
                </a>
            </div> 
            <!--End: Logo-->
            <!-- Search -->

            
            <!--end: Header Extras-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="register" class="page-scroll">Mendaftar</a></li>
                            <li><a href="index" class="page-scroll">Kembali</a></li>
                            
                            </ul>
                                </div>
                            </div>
                        </header>
<!-- end: Header -->
        <!-- End header -->

        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="plugins/slider-revolution/assets/images/discover4_detail.jpg">
            <div class="container">
                <div>
                    <div class="text-center m-b-30">
                        <a href="index" class="logo">
                            <img src="/images/logoA.png" alt="Aidertech Logo" style="width: 200px;">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 center p-50 b-r-6" id="glass">
                            <h3 class="masukakun">Masuk akun anda</h3>
                            <form>
                                <div class="form-group">
                                    <label class="sr-only">Nama</label>
                                    <input type="text" class="form-control" placeholder="Masukan nama anda">
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">Password</label>
                                    <input type="password" class="form-control" placeholder="Masukan password anda">
                                </div>
                                <div class="form-group form-inline text-left">
                                    <div class="form-check">
                                    </div>
                                </div>
                                <div class="text-left form-group">
                                    <button type="button" class="btn">Masuk</button>
                                </div>
                            </form>
                            <p class="small" style="color:white;"> Belum punya akun? <a href="register">Klik teks ini.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
        <!--footer-->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">AIDERTECH</div>
                                <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                                <a href="index" class="btn btn-gray" target="_blank">Keluar akun</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Tentang</div>
                                        <ul class="list">
                                            <li><a href="#">Aidertech</a></li>
                                            <li><a href="#">Jasa Iklan</a></li>
                                            <li><a href="#">Jasa Industri kreatif</li>
                                            <li><a href="#">Fitur</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pengaturan</div>
                                        <ul class="list">
                                            <li><a href="editprofile">Edit Profile</a></li>
                                            <li><a href="profile">Langkah</a></li>
                                            <li><a href="editprofile">Keamanan</a></li>
                                            <li><a href="editprofile">Verifikasi</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Sosial Media</div>
                                        <ul class="list">
                                            <li><a href="https://www.instagram.com/aidertech/">Instagram</a></li>
                                            <li><a href="3">Email</a></li>
                                            <li><a href="#">YouTube</a></li>
                                            <li><a href="#">Facebook</a></li>
                                        </ul>
                                    </div>
                                </div>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; Aidertech - 2021<a href="" target="_blank" rel="noopener"> </a> </div>
                </div>
            </div>
            <footer id="footer">
                <div class="footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="widget">
                                    <div class="widget-title">AIDERTECH</div>
                                    <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                                    <a href="register" class="btn btn-gray" target="_blank">Daftar akun</a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <div class="widget-title">Tentang</div>
                                            <ul class="list">
                                                <li><a href="about">Aidertech</a></li>
                                                <li><a href="about">Fitur</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <div class="widget-title">Akun</div>
                                            <ul class="list">
                                                <li><a href="login">Masuk</a></li>
                                                <li><a href="register">Daftar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <div class="widget-title">Sosial Media</div>
                                            <ul class="list">
                                                <li><a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=aidertech2021@gmail.com">Email</a></li>
                                                <li><a href="https://www.instagram.com/aidertech/">Instagram</a></li>
                                                <li><a href="https://www.youtube.com/channel/UCA-aw0ichA5oNT2hyry1blw">YouTube</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-content">
                    <div class="container">
                        <div class="copyright-text text-center">&copy; Aidertech - 2021<a href="" target="_blank" rel="noopener"> </a> </div>
                    </div>
                </div>
            </footer>
<!--END: footer-->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>