<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Document title -->
	<title>AIDERTECH | Page jasa</title> <!-- Stylesheets & Fonts -->
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<!-- Body Inner -->
	<div class="body-inner">
		<!-- Header -->
	
		<!-- end: Header -->
		<!-- Page title -->
		<section id="page-title" class="text-light" data-bg-parallax="images/parallax/6.jpg">
			<div class="container">
				<div class="page-title">
					<h1>Bangun UMKM mu dengan jasa creatif kita. </h1>
				</div>
				<div class="breadcrumb">
				</div>
			</div>
		</section>
		<!-- end: Page title -->
		<!-- Content -->
		<section id="page-content">
			<div class="container">
				<hr class="space">
				
				<!-- end: Portfolio: Image Zoom -->
				<hr class="space">
				<div class="heading-text heading-line text-center">
					<h4>Photografer</h4>
				</div>
				<!-- Portfolio: Image Zoom -->
				<div class="portfolio-3-columns">
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/60.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/61.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/62.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
				</div>
				<!-- end: Portfolio: Image Zoom -->
				<hr class="space">
                <div class="heading-text heading-line text-center">
					<h4>Vidiografer</h4>
				</div>
				<!-- Portfolio: Image Zoom -->
				<div class="portfolio-3-columns">
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/60.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/61.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/62.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
				</div>
				
				<!-- end: Portfolio -->
				<hr class="space">
                <div class="heading-text heading-line text-center">
					<h4>Designer</h4>
				</div>
				<!-- Portfolio: Image Zoom -->
				<div class="portfolio-3-columns">
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/60.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/61.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/62.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
				</div>


                <hr class="space">
                <div class="heading-text heading-line text-center">
					<h4>Web Development</h4>
				</div>
				<!-- Portfolio: Image Zoom -->
				<div class="portfolio-3-columns">
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/60.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/61.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
					<!-- portfolio item -->
					<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
						<div class="portfolio-item-wrap">
							<div class="portfolio-image">
								<a href="#"><img src="images/portfolio/62.jpg" alt=""></a>
							</div>
							<div class="portfolio-description">
								<a href="portfolio-page-grid-gallery.html">
									<h3>Let's Go Outside</h3>
									<span>Illustrations / Graphics</span>
								</a>
							</div>
						</div>
					</div>
					<!-- end: portfolio item -->
				</div>
				
				<!-- end: Portfolio -->
			</div>
		</section> <!-- end: Content -->
		<!-- Footer -->
		<!--footer-->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">AIDERTECH</div>
                        <p class="mb-5">Platform yang di rancang untuk UMKM<br> All rights reserved. Copyright © 2019. INSPIRO.</p>
                        <a href="profile" class="btn btn-inverted" target="_blank">Kembali</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Tentang Team</div>
                                <ul class="list">
                                    <li><a href="#">Features</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Aidertech</div>
                                <ul class="list">
                                    <li><a href="#">Layouts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Sosial Media</div>
                                <ul class="list">
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
        </div>
    </div>
</footer>
<!--END: footer-->
		<!-- end: Footer -->
	</div>
	<!-- end: Body Inner -->
	<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
	<!--Plugins-->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<!--Template functions-->
	<script src="js/functions.js"></script>
</body>

</html>