<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="" type="" href="">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>AIDERTECH | Profile </title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        

.padding {
    padding: 3rem !important;
    margin-left: 200px;
}



.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-primary,
.btn-primary.disabled {
    background: #7460ee;
    border: 1px solid #7460ee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

p {
    margin-top: 0;
}
    </style>
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- end: Topbar -->
        <!-- Header -->
        <header id="header" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="#">
                            <span class="logo-default">AIDERTECH.</span>
                            <span class="logo-dark">AIDERTECH.</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Type & Search..." />
                            <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                        </form>
                    </div>
                    
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                   
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                  
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="home" class="#">Beranda</a></li>
                            <li><a  href="profile" >Profile</a></li>
                            <li><a href="" class="#">Pengaturan</a></li>
                            <li><a href="index" class="#">Keluar</a></li>
        
                                    </li>
                                </div>
                            </div>
                        </header>

                </div>
            </div>
        </header>
      
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- Content-->
                    <class class="content col-lg-12">
                        <div class="row m-b-20"> 
                            <div class="col-lg-12 p-t-10 m-b-20">
                                <div class="row">

                                                <div class="card-body little-profile text-center">
                                                    <div class="pro-img"><img src="images/shop/products/1.jpg" alt="user"></div>
                                                    <br>
                                                    <h3 class="m-b-0">Nama UMKM</h3>
                                                    <p>Kedai Kopi dan Kuliner makanan.</p> 
                                                    <a href="" class="m-t-10 waves-effect waves-dark btn btn-outline btn-rounded" data-abc="true">Lihat Profil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                            
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 center">
                                            <div class="heading-text heading-section text-center" data-animate="fadeInUp">
                                                <div>
                                                <h2>UMKM Introduc</h2>
                                                <a href="https://www.youtube.com/watch?v=nrJtHemSPW4" data-lightbox="iframe" class="play-button dark"><i class="icon-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                    <!--Modal Box-->
                                    <div class="text-center">
                                <a href="#modalShop" data-lightbox="inline" class="btn btn-modal btn-shadow btn-rounded">Jasa Creator</a>
                            <!--End: Modal trigger button-->
                            <div id="modalShop" class="modal no-padding" data-delay="2000" style="max-width: 700px;">
                                <div class="row">
                                    <div class="col-md-6 d-none d-sm-block no-padding" style="background: transparent url(&quot;/images/creator.jpg&quot;) no-repeat scroll center top / cover; height:520px;"></div>
                                    <div class="col-md-6">
                                        <div class="p-40 p-xs-20">
                                            <h2>Dapatkan jasa creator pertama, diskon</h2>
                                            <h2 class="text-xl text-theme lh80 m-b-30">35%</h2>
                                            <p class="m-b-20">Terdapat beberapa jasa creator unggulan dari kami.</p>
                                            <a href="pagejasa" class="btn btn-shadow btn-rounded btn-block m-t-10">AYOK</a><small class="t300">
                                                
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="container">
                            <div class="heading-text heading-line text-center">
                            <div class="heading-text heading-line text-center">
                       
                    </div>
                    <div class="grid-filter gf-lines gf-line-bottom center" data-layout="#portfolio">
                        <ul>
                            <li class="active"><a href="#" data-category="*">Makanan</a></li>
                            <li><a href="#" data-category=".ct-branding">Minuman</a></li>
                        </ul>
                    </div> 
                


                    <div class="col-lg-3">
                    </div>
                </div>
                               
                    
                        <!--Product list-->
                        <div class="shop">
                            <div class="grid-layout grid-3-columns" data-item="grid-item">
                                <div class="grid-item">
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img alt="Shop product image!" src="images/shop/products/1.jpg">
                                            </a>
                                            <a href="#"><img alt="Shop product image!" src="images/shop/products/10.jpg">
                                            </a>
                                            <!-- <span class="product-new">NEW</span> -->
                                            <span class="product-wishlist">
                                                <a href="#"><i class="fas fa-check-circle"></i></a>
                                            </span>
                                            <div class="product-overlay">
                                                <a href="detailproduk">Lihat selengkapnya</a>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Makanan</div>
                                            <div class="product-title">
                                                <h4><a href="#">Sate Padang</a></h4>
                                            </div>
                                            <div class="product-price"><ins>15K</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            <div class="col-lg-3 text-center" style="margin:auto;">
                                <a href="createproduk"> <button class="btn btn-lg btn-slide" data-width="140" href="">
                                    <i class="icon fas fa-plus"></i>
                                    <span>Tambah</span>
                                </button> </a>
                            </div>
                        </div> 
                    <!-- Sidebar-->

                        </div>
                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section>

        


        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <!--footer-->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">AIDERTECH</div>
                        <p class="mb-5">Platform yang di rancang untuk UMKM<br>Aidertech team 2021</p>
                        <a href="#" class="btn btn-inverted" target="_blank">Keluar akun</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Tentang Team</div>
                                <ul class="list">
                                    <li><a href="#">Features</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Aidertech</div>
                                <ul class="list">
                                    <li><a href="#">Layouts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Sosial Media</div>
                                <ul class="list">
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
        </div>
    </div>
</footer>
<!--END: footer-->
        <!-- end: Footer -->
    </div> <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>

    <script>
        function button() {
  document.getElementById("profilnav").innerHTML = "Hello World";
}
    </script>

</body>

</html>