<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Langkah</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title">
            <div class="container">
                <div class="page-title">
                    <h1>Langkah-langkah</h1>
                    <span>Menambah, mengedit, menghapus produk.</span>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Page Content -->
        <section id="page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="content col-lg-8">
                        <!-- Timeline -->
                        
                        <!-- end: Timeline -->
                        <div class="line"></div>
                        <h4>Tambah produk UMKM</h4>
                        <!-- Timeline -->
                        <ul class="timeline">
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">1</div>
                                <h4>Profil</h4>
                                <p>Tambahkan Profil dengan klik tombol yang tertera di gambar</p>
                                <div class="timeline-item-image"><img src="images/timeline/1.jpg"></div>
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">2</div>
                                <h4>Masukan data</h4>
                                <p>Masukan data melalui formulir yang telah disediakan</p>
                                <div class="timeline-item-image"><img src="images/timeline/2.jpg"></div>
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">3</div>
                                <h4>Simpan</h4>
                                <p>Klik tombol simpan dan pastikan mengisi data dengan benar. </p>
                                <div class="timeline-item-image"><img src="images/timeline/3.jpg"></div>
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">4</div>
                                <h4>Selesai.</h4>
                            </li>
                            <!--end: Timeline item-->
                        </ul>


                        <!-- end: Timeline -->
                        <div class="line"></div>
                        <h4>Edit produk UMKM</h4>
                        <!-- Timeline -->
                        <ul class="timeline">
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">1</div>
                                <h4>Profil</h4>
                                <p>Klik tombol edit.</p>
                                <div class="timeline-item-image"><img src="images/timeline/1.jpg"></div>
                                
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">2</div>
                                <h4>Edit data</h4>
                                <p>Rubah data melalui formulir yang telah disediakan.</p>
                                <div class="timeline-item-image"><img src="images/timeline/2.jpg"></div>
                                
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">3</div>
                                <h4>Simpan</h4>
                                <p>Klik tombol simpan dan pastikan merubah data dengan benar. </p>
                                <div class="timeline-item-image"><img src="images/timeline/3.jpg"></div>
                                
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">4</div>
                                <h4>Selesai.</h4>
                            </li>
                            <!--end: Timeline item-->
                        </ul>

                        <div class="line"></div>
                        <h4>Hapus produk UMKM</h4>
                        <!-- Timeline -->
                        <ul class="timeline">
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">1</div>
                                <h4>Profil</h4>
                                <p>Buka halaman profil</p>
                                <div class="timeline-item-image"><img src="images/timeline/1.jpg"></div>
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">2</div>
                                <h4>Pilih data</h4>
                                <p>Pilih data yang akan di hapus</p>
                                <div class="timeline-item-image"><img src="images/timeline/2.jpg"></div>
                                
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">3</div>
                                <h4>Hapus</h4>
                                <p>Klik tombol hapus dan pastikan data produk yang di hapus benar. </p>
                                <div class="timeline-item-image"><img src="images/timeline/3.jpg"></div>
                                
                            </li>
                            <!--end: Timeline item-->
                            <!--Timeline item-->
                            <li class="timeline-item">
                                <div class="timeline-icon">4</div>
                                <h4>Selesai.</h4>
                            </li>
                            <!--end: Timeline item-->
                        </ul>
                    
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">Polo HTML5 Template</div>
                                <p class="mb-5">Built with love in Fort Worth, Texas, USA<br>
                                    All rights reserved. Copyright © 2019. INSPIRO.</p>
                                <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923" class="btn btn-inverted" target="_blank">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Discover</div>
                                        <ul class="list">
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Updates</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Customers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Features</div>
                                        <ul class="list">
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Footers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pages</div>
                                        <ul class="list">
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Support</div>
                                        <ul class="list">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <!-- jQuery Steps plugin files-->
    <link href="plugins/jquery-steps/jquery.steps.css" rel="stylesheet">
    <script src="plugins/jquery-steps/jquery.steps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
        $('#wizard1').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        $('#wizard2').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        $('#wizard3').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        $('#wizard4').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        $('#wizard5').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        $('#wizard6').steps({
            headerTag: 'h3',
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        //Advanced - with validation
        var wizard7 = $('#wizard7');
        wizard7.steps({
            headerTag: "h3",
            bodyTag: '.wizard-content',
            autoFocus: true,
            enableAllSteps: true,
            titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
            onStepChanging: function (event, currentIndex, newIndex) {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }
                return wizard7.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {},
            onFinishing: function (event, currentIndex) {
                return wizard7.valid();
            },
            onFinished: function (event, currentIndex) {
                INSPIRO.elements.notification("Submited",
                    "Thank you, your account has been registed successfully", "success");
            }
        });
        //Validation
        wizard7.validate({
            errorClass: 'is-invalid',
            validClass: 'is-valid',
            errorElement: "div",
            rules: {
                // Step 1 - Account information
                username: {
                    required: true
                },
                email: {
                    required: true,
                    email: true,
                    minlength: 8
                },
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 12
                },
                password2: {
                    required: true,
                    minlength: 5,
                    maxlength: 12
                },
                // Step 4 - Confirmation
                reminders: {
                    required: true
                },
                terms_conditions: {
                    required: true
                },
            },
            errorPlacement: function (error, element) {
                $(element).parents(".form-group").append(error);
            }
        });
        $('.wizard').find(".actions ul > li > a").addClass("btn");
    </script>
</body>

</html>